<div class="container-fluid bg">
    <div class="bg_border">

        <div class=" container-fluid area">
            <!-- !-- area title -- -->
            <div class="container-fluid row_center">
                <div class="row">
                    <div class="col-3">
                        <b>校區</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <b>單位</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <b>組別</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <input class="searchPhone" type="text" [(ngModel)]="phoneNumber">
                        <button (click)=doGet()>get</button>
                    </div>
                    
                </div>
                <!-- !-- area title -- -->
                <div class="row">
                    <div class="col-3">
                        <img class="img_logo" src="../../assets/img/ntub_ext_校區.png" >
                    </div>
                    <div class="col-3">
                        <img class="img_logo" src="../../assets/img/ntub_ext_單位.png" >
                    </div>
                    <div class="col-3">
                        <img class="img_logo" src="../../assets/img/ntub_ext_組別.png" >
                    </div>
                </div>
                <!--------content---------------->
                <div class="row phone_content">
                    <div class="col-3">
                        <p>1234</p>
                    </div>
                    <div class="col-3">
                        <p>1234</p>
                    </div>
                    <div class="col-3">
                        <p></p>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>