<div class="container-fluid bg">
    <div class="bg_border">
        <div class="container area">
            <!-- area title -->
            <div class="container row_center">
                <div class="row">
                    <div class="col-3">
                        <b>校區</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <b>單位</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <b>組別</b>
                        <hr class="style-two">
                    </div>
                    <div class="col-3">
                        <input class="searchPhone" type="text" value="請輸入聯絡人姓名或手機">
                    </div>
                </div>
                <!-- area title -->
                <div class="row">
                        <div class="col-3">
                            <img src="../../assets/img/ntub_ext_校區.png" width="100px">
                        </div>
                        <div class="col-3">
                            <img src="../../assets/img/ntub_ext_單位.png" width="100px.0">
                        </div>
                        <div class="col-3">
                            <img src="../../assets/img/ntub_ext_組別.png" width="100px">
                        </div>
                    </div>
            </div>



        </div>
    </div>
</div>