/* You can add global styles to this file, and also import other style files */

html,body{
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
    // background-image: url('../src/assets/img/ntub_ext_bk-03.jpg');
    // background-size:100% ;
    // background-repeat: no-repeat;
 
    
}